// IMPORT BOOTSTRAP
@import "../libs/bootstrap/scss/functions";
@import "../libs/bootstrap/scss/variables";
@import "../libs/bootstrap/scss/mixins";


// Importing Project Variables
@import './globals.scss';

// Optional
@import '../libs/bootstrap/scss/bootstrap-reboot.scss';


// FONTS LOAD SECTION


@mixin font($fname, $fstyle, $fweight, $furl, $furl2) {
	@font-face {
		font-display: swap;
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		src: url($furl) format('woff'),
				 url($furl2) format('woff2');
	}
}

@include font('Manrope', normal, 700, '../fonts/Manrope-Bold.woff', '../fonts/Manrope-Bold.woff2');
@include font('Manrope', normal, 400, '../fonts/Manrope-Regular.woff', '../fonts/Manrope-Regular.woff2');
@include font('Manrope', normal, 300, '../fonts/Manrope-Light.woff', '../fonts/Manrope-Light.woff2');
@include font('Open Sans', normal, 400, '../fonts/OpenSans-Regular.woff', '../fonts/OpenSans-Regular.woff2');
@include font('PT Root UI', normal, 400, '../fonts/PTRootUI-Regular.woff', '../fonts/PTRootUI-Regular.woff2');


// GENERAL DOCUMENT STYLES
/*::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

input,textarea {
	outline: none;
	&:focus:required:invalid {
		border-color: red;
	}
	&:required:valid {
		border-color: green;
	}
}

body {
	font-family: $userfont;
	font-size: $fontsize;
	line-height: $lineheight;
	color: $textcolor;
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}*/

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}