// IMPORT BOOTSTRAP
@import "../libs/bootstrap/scss/functions";
@import "../libs/bootstrap/scss/variables";
@import "../libs/bootstrap/scss/mixins";


// Importing Project Variables
@import './globals.scss';

// Optional
@import '../libs/bootstrap/scss/bootstrap-reboot.scss';
@import '../libs/bootstrap/scss/bootstrap-grid.scss';
@import '../libs/bootstrap/scss/_nav.scss';
//@import '../libs/bootstrap/scss/bootstrap.scss';


// FONTS LOAD SECTION


@mixin font($fname, $fstyle, $fweight, $furl, $furl2) {
	@font-face {
		font-display: swap;
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		src: url($furl) format('woff'),
			url($furl2) format('woff2');
	}
}

@include font('Manrope', normal, 700, '../fonts/Manrope-Bold.woff', '../fonts/Manrope-Bold.woff2');
@include font('Manrope', normal, 400, '../fonts/Manrope-Regular.woff', '../fonts/Manrope-Regular.woff2');
@include font('Manrope', normal, 300, '../fonts/Manrope-Light.woff', '../fonts/Manrope-Light.woff2');
// @include font('Open Sans', normal, 400, '../fonts/OpenSans-Regular.woff', '../fonts/OpenSans-Regular.woff2');
// @include font('PT Root UI', normal, 400, '../fonts/PTRootUI-Regular.woff', '../fonts/PTRootUI-Regular.woff2');


// GENERAL DOCUMENT STYLES
/*::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

input,textarea {
	outline: none;
	&:focus:required:invalid {
		border-color: red;
	}
	&:required:valid {
		border-color: green;
	}
}*/

$maxWidth: 1440;
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@mixin adaptiv-font($pcSize, $mobSize, $pcFS, $monFS) {
	$addSize: $pcSize - $mobSize;
	$addSizeFS: $pcFS - $monFS;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
	line-height: calc(#{$monFS + px} + #{$addSizeFS} * ((100vw - 320px) / #{$maxWidth}));
}

// @include adaptiv-font(40, 20);

html {
	overflow-x: hidden;
}

body {
	font-family: 'Manrope';
	font-size: 16px;
	color: $primary;
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}

.visually-hidden {
	position: absolute;
	height: 1px;
	width: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
}

#about .advantages {
	background-color: $white;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	margin: 0;
	padding: 0;
}


button {
	cursor: pointer;
	background-color: inherit;
	border: none;
	padding: 0;
}

img {
	width: 100%;
	display: block;
	object-fit: cover;
}

button {
	background: transparent;
	border: none;
}

.flex-col-wrap {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.flex-row-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.title {
	font-weight: 300;
	font-size: 24px;
	line-height: 40px;

	&-big {
		font-weight: 300;
		font-size: 30px;
		line-height: 40px;
	}
}

.heading {
	padding: 164px 0 25px;
	font-weight: 300;
	font-size: 24px;
	line-height: 40px;
}

.contact-bg-dark {
	.contact {
		background: $bd-dark;

		@media (max-width: $md) { 
			background: $white;
		}
	}	
}