// IMPORT BOOTSTRAP
@import "../libs/bootstrap/scss/functions";
@import "../libs/bootstrap/scss/variables";
@import "../libs/bootstrap/scss/mixins";


// Importing Project Variables
@import './globals.scss';

// Optional
@import '../libs/bootstrap/scss/bootstrap-reboot.scss';


// FONTS LOAD SECTION
//@include font('roboto-oh5', normal, 400, '../fonts/roboto-regular-webfont.woff2');
@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		src: url($furl) format('woff2');
	}
}




// GENERAL DOCUMENT STYLES
/*::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

input,textarea {
	outline: none;
	&:focus:required:invalid {
		border-color: red;
	}
	&:required:valid {
		border-color: green;
	}
}

body {
	font-family: $userfont;
	font-size: $fontsize;
	line-height: $lineheight;
	color: $textcolor;
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}*/