// IMPORT BOOTSTRAP
@import "../libs/bootstrap/scss/functions";
@import "../libs/bootstrap/scss/variables";
@import "../libs/bootstrap/scss/mixins";


// Importing Project Variables
@import './globals.scss';

// Optional
@import '../libs/bootstrap/scss/bootstrap-reboot.scss';
@import '../libs/bootstrap/scss/bootstrap-grid.scss';
@import '../libs/bootstrap/scss/_nav.scss';
//@import '../libs/bootstrap/scss/bootstrap.scss';


// FONTS LOAD SECTION


@mixin font($fname, $fstyle, $fweight, $furl, $furl2) {
	@font-face {
		font-display: swap;
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		src: url($furl) format('woff'),
			url($furl2) format('woff2');
	}
}

@include font('Open Sans', normal, 400, '../fonts/OpenSans-Regular.woff', '../fonts/OpenSans-Regular.woff2');
@include font('Open Sans', normal, 700, '../fonts/OpenSans-Bold.woff', '../fonts/OpenSans-Bold.woff2');


// GENERAL DOCUMENT STYLES
/*::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

input,textarea {
	outline: none;
	&:focus:required:invalid {
		border-color: red;
	}
	&:required:valid {
		border-color: green;
	}
}

@media (max-width: $md) {

}

*/
$maxWidth: 1440;
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@mixin adaptiv-font($pcSize, $mobSize, $pcFS, $monFS) {
	$addSize: $pcSize - $mobSize;
	$addSizeFS: $pcFS - $monFS;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
	line-height: calc(#{$monFS + px} + #{$addSizeFS} * ((100vw - 320px) / #{$maxWidth}));
}

// @include adaptiv-font(40, 20);

html {
	overflow-x: hidden;
}

body {
	font-family: 'Open Sans';
	font-size: 16px;
	color: $primary;
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}

.visually-hidden {
	position: absolute;
	height: 1px;
	width: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
}

.title {
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 48px;
  position: relative;
  display: inline-flex;
	margin: 0;

  &::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 40px;
    display: inline-flex;
    background: #C1A477;
    left: calc(100% + 16px);
    top: 50%;
  }


  @media (max-width: $md) {
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
		// width: max-content;
  }

}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	margin: 0;
	padding: 0;
}


button {
	cursor: pointer;
	background: transparent;
	border: none;
	padding: 0;
}

img {
	width: 100%;
	display: block;
	object-fit: cover;
}

.link {
  padding: 12px 20px;
  background: transparent;
  color: #2A2A28;
  border: 1px solid #2A2A28;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-width: 191px;
  transition: 0.3s;

  &:hover {
    border: 1px solid #C1A477;
    color: #2A2A28;
  }

  @media (max-width: $lg) {
    width: 100%;
    margin: 5px 0;
  }
}

.container-padding {
	padding-top: 80px;
	padding-bottom: 80px;
	@media (max-width: $lg) {
		padding-top: 60px;
		padding-bottom: 60px;
  }
}

.bg-dark {
	background-color: $bg;
	@media (max-width: $lg) {
		background-color: $white;
  }
}


.bg-white {

	background-color: $white;
	@media (max-width: $lg) {
		background-color: $bg;
  }
}

.center {
  display: flex;
  justify-content: center;
}