
.slider {
  &__wrapper {
    width: 100%;
  }

  &__slide {
    position: relative;
  }

  &__image {
    min-height: 500px;
    height: 100vh;
    width: 100%;
  }

  &__content {
    position: absolute;
    top: 50%;
    max-width: 1440px;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 150px;
    @media (max-width: $md) {
      left: 0;
      padding: 16px;
      transform: translate(0, -50%);
    }
  }

  &__head {
    font-weight: bold;
    font-size: 96px;
    line-height: 104px;
    color: $white;
    word-wrap: break-word;

    @media (max-width: $md) {
      font-size: 48px;
      line-height: 56px;
    }
  }

  &__text {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: $white;

    @media (max-width: $md) {
      font-size: 20px;
      line-height: 28px;
    }
  }

  .slider__boolets {
    position: absolute;
    bottom: 63px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    .slick-active {
      .slider__dot {
        background: $hover;
        border-color: $white;
        box-shadow: 0 0 0 3px $white;
        cursor: default;
      }
    }
  }

  .slider__dot {
    display: flex;
    width: 12px;
    height: 12px;
    background: $white;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background: $hover;
      border-color: $white;
      box-shadow: 0 0 0 3px $white;
    }


  }
}
