.wpforms-container .wpforms-page-indicator {
    overflow: hidden;
}
.wpforms-container .wpforms-page-indicator.circles .wpforms-page-indicator-page:last-of-type {
    margin: 0;
}
.wpforms-container .wpforms-page-indicator.connector .wpforms-page-indicator-page-number {
    display: block;
    text-indent: -9999px;
    height: 6px;
    background-color: #ddd;
    margin: 0 0 16px 0;
    position: relative;
}
.wpforms-container .wpforms-page-indicator.connector .wpforms-page-indicator-page-triangle {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: transparent transparent transparent transparent;
}
.wpforms-container .wpforms-page-indicator.connector .wpforms-page-indicator-page-title {
    display: inline-block;
    padding: 0 15px;
    font-size: 16px;
}
.wpforms-container .wpforms-page-indicator.progress {
    font-size: 18px;
}
.wpforms-container .wpforms-page-indicator.progress .wpforms-page-indicator-page-progress-wrap {
    display: block;
    width: 100%;
    background-color: #ddd;
    height: 18px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin: 5px 0 0;
}
.wpforms-container .wpforms-page-indicator.progress .wpforms-page-indicator-page-progress {
    height: 18px;
    position: absolute;
    left: 0;
    top: 0;
}
div.wpforms-container .wpforms-notice {
    background-color: #fff;
    border: 1px solid #ddd;
    border-left-width: 12px;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
    padding: 20px 36px 20px 26px;
    position: relative;
}
div.wpforms-container .wpforms-notice .wpforms-delete {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: rgba(10, 10, 10, 0.2);
    border: none;
    border-radius: 290486px;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin: 0;
    padding: 0;
    outline: none;
    vertical-align: top;
    width: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
}
div.wpforms-container .wpforms-notice .wpforms-delete:before,
div.wpforms-container .wpforms-notice .wpforms-delete:after {
    background-color: #fff;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
}
div.wpforms-container .wpforms-notice .wpforms-delete:before {
    height: 2px;
    width: 50%;
}
div.wpforms-container .wpforms-notice .wpforms-delete:after {
    height: 50%;
    width: 2px;
}
div.wpforms-container .wpforms-notice .wpforms-delete:hover,
div.wpforms-container .wpforms-notice .wpforms-delete:focus {
    background-color: rgba(10, 10, 10, 0.3);
}
div.wpforms-container .wpforms-notice a {
    text-decoration: underline;
}
div.wpforms-container .wpforms-notice p {
    margin: 0 0 20px 0;
}
div.wpforms-container .wpforms-notice p:last-of-type {
    margin-bottom: 0;
}
div.wpforms-container-full .wpforms-notice.wpforms-info .wpforms-notice-action,
div.wpforms-container-full .wpforms-notice.wpforms-info {
    border-color: #3273dc;
}
div.wpforms-container-full .wpforms-notice.wpforms-success .wpforms-notice-action,
div.wpforms-container-full .wpforms-notice.wpforms-success {
    border-color: #23d160;
}
div.wpforms-container-full .wpforms-notice.wpforms-warning .wpforms-notice-action,
div.wpforms-container-full .wpforms-notice.wpforms-warning {
    border-color: #ffdd57;
}
div.wpforms-container-full .wpforms-notice.wpforms-error .wpforms-notice-action,
div.wpforms-container-full .wpforms-notice.wpforms-error {
    border-color: #ff3860;
}
div.wpforms-container-full .wpforms-notice .wpforms-notice-actions {
    margin-top: 20px;
}
div.wpforms-container-full .wpforms-notice .wpforms-notice-action {
    border: 2px solid;
    margin-right: 20px;
    padding: 5px;
    text-decoration: none;
}
.wpforms-container .wpforms-submit-container {
    position: relative;
}
.wpforms-container .wpforms-submit-spinner {
    margin-left: 0.5em;
    display: none!important;
}
.wpforms-container {
    margin-bottom: 26px;
}
.wpforms-container .wpforms-field-hp {
    display: none !important;
    position: absolute !important;
    left: -9000px !important;
}
.wpforms-container .wpforms-field-hidden {
    display: none;
}
.wpforms-container .wpforms-screen-reader-element {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
    word-wrap: normal !important;
}
.wpforms-container input.wpforms-field-large,
.wpforms-container select.wpforms-field-large,
.wpforms-container .wpforms-field-row.wpforms-field-large {
    max-width: 100%;
}
.wpforms-container .wpforms-field {
    position: relative;
}
.wpforms-container .wpforms-field-description.wpforms-disclaimer-description {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px 15px 0;
    height: 125px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.wpforms-container .wpforms-field-label {
    display: block;
}
.wpforms-container .wpforms-field-sublabel {
    float: none;
}
.wpforms-container .wpforms-field-label-inline {
    display: inline;
}
.wpforms-container .wpforms-field-label.wpforms-label-hide,
.wpforms-container .wpforms-field-sublabel.wpforms-sublabel-hide {
    position: absolute;
    top: -99999px;
    left: -99999px;
}
.wpforms-container .wpforms-field-row {
    position: relative;
}