.card-simple {
  box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.15);
  position: relative;

  &:hover {
    box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.2);
  }

  &__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__img-wrapper {
    height: 250px;
  }

  &__img {
    height: 100%;
  }

  &__content {
    padding: 28px 25px 37px 23px;
    background: $white;
    color: $primary;
  }

  &__time {
    margin-bottom: 3px;
  }

  &__title {
    margin-bottom: 13px;
    font-weight: bold;
  }
}