.card-product {

  &__img-wrapper {
    height: 383px;
  }

  &__img {
    height: 100%;
  }

  &__content {
    padding: 20px;
    background: $white;
  }

  &__title {
    text-align: center;
    margin: 0 0 12px 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
  }

  &__bold {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
  }

  &__table {
    width: 100%;

    tr {
      &:last-child {
        td {
          padding-top: 12px;
          font-weight: normal;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }

    td {
      padding: 5px;
      width: 50%;
    }

    tr>td:last-child {
      text-align: right;
      font-weight: bold;
    }
  }
}
