.catalog {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;


  .monile-none {
    display: none;

    @media (max-width: $lg) {
      display: block;
      margin-bottom: 42px;
    }
  }

  .desctop-none {
    display: block;

    @media (max-width: $lg) {
      display: none;
    }
  }

  .images {
    margin-bottom: 32px;
  }

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: $hover;
    margin-top: 20px;
  }

  .item {
    padding: 50px 0;
    display: flex;

    &-gallery {
      align-items: center;
    }

  }

  @media (max-width: $lg) {
    .content {
      order: 1;
    }
  }

  &__header {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    word-wrap: break-word;

    @media (max-width: $lg) {
      font-size: 36px;
      line-height: 44px;
      margin-top: 32px;
    }
  }

  .text {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    @media (max-width: $lg) {
      margin-top: 20px;
    }
  }

  .image-wrapper {
    width: 100%;
    height: 100%;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      display: flex;
      top: -30px;
      right: -30px;
      width: 100%;
      height: 100%;
      border: 2px solid #C1A477;
      z-index: 1;

      @media (max-width: $lg) {
        top: -10px;
        right: -9px;
      }

    }

    grid-template-rows: 440px 245px;

    @media (max-width: $lg) {
      grid-template-rows: 241px 162px;
    }

    &-gallery2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      img:first-child {
        grid-column-start: 1;
        grid-column-end: 3;

      }
    }

    &-gallery3 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      img:first-child {
        grid-column-start: 1;
        grid-column-end: 4;

      }
    }

  }

  .image {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: $lg) {
      margin-top: 32px;
    }

    a {
      margin-bottom: 20px;

      @media (max-width: $xl) {
        width: 100%;
      }
    }
  }

  .item:nth-child(2n) {
    @media (min-width: $lg) {
      .content {
        order: 1;
      }

      .image-wrapper {
        &::before {
          content: '';
          left: -30px;
        }
      }
    }

  }

  .slider {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: relative;

    &-slide {}

    &__boolets {
      z-index: 2;
      bottom: 20px;
    }

    &__dot {
      z-index: 2;
      bottom: 20px;
    }

    &__dot--active {}

    &-button-prev {
      z-index: 2;
      position: absolute;
      top: 50%;
      left: 10px;
      padding: 10px;
      cursor: pointer;
      transform: translate(0, -50%);
    }

    &-button-next {
      z-index: 2;
      position: absolute;
      top: 50%;
      right: 10px;
      padding: 10px;
      cursor: pointer;
      transform: translate(0, -50%);
    }
    &__search {
      position: absolute;
      display: flex;
      background: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M22.4116 31.0078C19.6875 31.0073 17.031 30.2218 14.7546 28.7591C14.1248 28.3544 13.2879 28.398 12.7586 28.9274L6.90027 34.7854C6.32172 35.3639 5.38374 35.3639 4.80519 34.7854L4.38082 34.361C3.80223 33.7825 3.80223 32.8444 4.38082 32.2658L10.2387 26.4082C10.7682 25.8788 10.8118 25.0416 10.4069 24.4118C8.94335 22.1352 8.15733 19.4783 8.15668 16.7537C8.15668 8.89428 14.5518 2.49951 22.4116 2.49951C30.2714 2.49951 36.6665 8.89428 36.6665 16.7537C36.6665 24.613 30.2714 31.0078 22.4116 31.0078ZM22.4116 6.06305C16.5154 6.06305 11.7204 10.8578 11.7204 16.7537C11.7204 22.6495 16.5154 27.4443 22.4116 27.4443C28.3078 27.4443 33.1028 22.6495 33.1028 16.7537C33.1028 10.8578 28.3078 6.06305 22.4116 6.06305Z' fill='white'/%3E%3Cpath d='M22.4116 31.0078C19.6875 31.0073 17.031 30.2218 14.7546 28.7591C14.1248 28.3544 13.2879 28.398 12.7586 28.9274L6.90027 34.7854C6.32172 35.3639 5.38374 35.3639 4.80519 34.7854L4.38082 34.361C3.80223 33.7825 3.80223 32.8444 4.38082 32.2658L10.2387 26.4082C10.7682 25.8788 10.8118 25.0416 10.4069 24.4118C8.94335 22.1352 8.15733 19.4783 8.15668 16.7537C8.15668 8.89428 14.5518 2.49951 22.4116 2.49951C30.2714 2.49951 36.6665 8.89428 36.6665 16.7537C36.6665 24.613 30.2714 31.0078 22.4116 31.0078ZM22.4116 6.06305C16.5154 6.06305 11.7204 10.8578 11.7204 16.7537C11.7204 22.6495 16.5154 27.4443 22.4116 27.4443C28.3078 27.4443 33.1028 22.6495 33.1028 16.7537C33.1028 10.8578 28.3078 6.06305 22.4116 6.06305Z' stroke='white'/%3E%3Crect x='21.385' y='10' width='2.4885' height='12.4425' rx='1.24425' fill='white'/%3E%3Cpath d='M27.6063 14.9771C28.2935 14.9771 28.8506 15.5341 28.8506 16.2213C28.8506 16.9085 28.2935 17.4656 27.6063 17.4656H17.6523C16.9652 17.4656 16.4081 16.9085 16.4081 16.2213C16.4081 15.5341 16.9652 14.9771 17.6523 14.9771H27.6063Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='40' height='40' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") center no-repeat;
      width: 40px;
      height: 40px;
      top: 20px;
      right: 20px;
      z-index: 3;
    }
  }
}