.catalog {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;

  .item {
    padding: 50px 0;
    display: flex;
  }

  @media (max-width: $lg) { 
    .content {
      order: 1;
    }
  }

  &__header {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    word-wrap: break-word;

    @media (max-width: $lg) {
      font-size: 36px;
      line-height: 44px;
      margin-top: 32px;
    }
  }

  .text {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    @media (max-width: $lg) {
      margin-top: 20px;
    }
  }

  .image-wrapper {
    width: 100%;
    height: 100%;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      display: flex;
      top: -30px;
      right: -30px;
      width: 100%;
      height: 100%;
      border: 2px solid #C1A477;
      z-index: 1;

      @media (max-width: $lg) {
        top: -10px;
        right: -9px;
      }

    }
  }

  .image {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: $lg) {
      margin-top: 32px;
    }

    a {
      margin-bottom: 20px;

      @media (max-width: $xl) { 
        width: 100%;
      }


    }
  }


  .item:nth-child(2n) {
    @media (min-width: $lg) { 
      .content {
        order: 1;
      }
      .image-wrapper {
        &::before {
          content: '';
          left: -30px;
        }
      }
    }

  }


}
