.work-card {
  margin-bottom: 20px;
  &__wrapper {
    max-height: 520px;
    min-height: 480px;
    position: relative;

    width: 100%;
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__content {
    position: absolute;
    bottom: 0;
    padding: 40px 24px;
  }

  &__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    color: $white;
    margin-bottom: 40px;
  }

  &__link-wrapper {
    padding-top: 20px;
    border-top: 1px solid $hover;
  }

  &__link {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: $white;
    transition: 0.3s;

    svg {
      margin-left: 20px;
      transition: 0.3s;
    }

    &:hover {
      color: $white;
      svg {
        margin-left: 25px;
        transition: 0.3s;
      }
    }
  }
}