.work-card {
  margin-bottom: 20px;

  &__wrapper {
    max-height: 520px;
    min-height: 480px;
    position: relative;

    width: 100%;
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__content {
    position: absolute;
    bottom: 0;
    padding: 40px 24px;
  }

  &__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    color: $white;
    margin-bottom: 40px;

    @media (max-width: $md) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__link-wrapper {
    padding-top: 20px;
    border-top: 1px solid $hover;
  }

  &__link-a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    transition: 0.3s;

    &:hover {
      &+.work-card__content {
        svg {
          margin-left: 25px;
          transition: 0.3s;
        }
      }
    }
  }

  &__link {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: $white;
    transition: 0.3s;

    svg {
      margin-left: 20px;
      transition: 0.3s;
    }
  }
}