.pagination {

  .wrapper {
    display: flex;
    align-items: center;
  }

  span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    min-height: 40px;
    background: transparent;
    border: 1px solid $accent;
    border-radius: 999px;
    margin: 8px;
    color: $secondary;
    cursor: pointer;
    transition: 0.3s;

    &.number:hover {
      background: $accent;
      color: $white;
    }
  }

  .prew,
  .next {
    box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.15);
    margin: 12px;
    border: none;
    background: $white url("data:image/svg+xml,%3Csvg width='11' height='20' viewBox='0 0 11 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.5962 0.419848C10.7242 0.552522 10.8258 0.710132 10.895 0.883651C10.9643 1.05717 11 1.24319 11 1.43106C11 1.61892 10.9643 1.80494 10.895 1.97846C10.8258 2.15198 10.7242 2.30959 10.5962 2.44227L3.32022 10.0006L10.5962 17.559C10.8543 17.8272 10.9993 18.1909 10.9993 18.5702C10.9993 18.9495 10.8543 19.3132 10.5962 19.5814C10.3381 19.8496 9.98813 20.0002 9.62316 20.0002C9.25819 20.0002 8.90816 19.8496 8.65009 19.5814L0.403775 11.0118C0.275783 10.8792 0.174237 10.7215 0.10495 10.548C0.0356641 10.3745 -1.39902e-06 10.1885 -1.3908e-06 10.0006C-1.38259e-06 9.81275 0.0356641 9.62673 0.10495 9.45321C0.174237 9.27969 0.275783 9.12208 0.403775 8.98941L8.65009 0.419848C8.77776 0.28684 8.92943 0.181311 9.0964 0.109308C9.26338 0.0373057 9.44238 0.000244073 9.62316 0.00024408C9.80394 0.000244088 9.98294 0.0373057 10.1499 0.109308C10.3169 0.181311 10.4686 0.28684 10.5962 0.419848Z' fill='%23E2704C'/%3E%3C/svg%3E%0A") center no-repeat;
    background-position-x: 13px;
  }

  .next {
    transform: rotate(180deg);
  }

  .active {
    background: $accent;
    color: $white;
  }
}