.button-more {
  color: $accent;

  &__arrow {
    padding-right: 22px;
    transition: 0.3s;
    display: inline-block;
    position: relative;
    right: -18px;
    bottom: 0;
    min-width: 19px;
    height: 12px;
    background: url("data:image/svg+xml,%3Csvg width='19' height='13' viewBox='0 0 19 13' fill='$accent' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.2777 12.1598C12.1991 12.0815 12.1368 11.9883 12.0942 11.8858C12.0517 11.7833 12.0298 11.6734 12.0298 11.5625C12.0298 11.4515 12.0517 11.3416 12.0942 11.2391C12.1368 11.1366 12.1991 11.0435 12.2777 10.9651L16.7445 6.49996L12.2777 2.03483C12.1192 1.8764 12.0302 1.66152 12.0302 1.43746C12.0302 1.2134 12.1192 0.998515 12.2777 0.840082C12.4361 0.681648 12.651 0.592642 12.875 0.592642C13.0991 0.592642 13.314 0.681648 13.4724 0.840082L18.5349 5.90258C18.6135 5.98096 18.6758 6.07407 18.7184 6.17658C18.7609 6.27908 18.7828 6.38897 18.7828 6.49996C18.7828 6.61094 18.7609 6.72083 18.7184 6.82334C18.6758 6.92585 18.6135 7.01895 18.5349 7.09733L13.4724 12.1598C13.394 12.2384 13.3009 12.3007 13.1984 12.3433C13.0959 12.3858 12.986 12.4077 12.875 12.4077C12.7641 12.4077 12.6542 12.3858 12.5517 12.3433C12.4492 12.3007 12.356 12.2384 12.2777 12.1598Z' fill='%23E2704C'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.21875 6.5C0.21875 6.27622 0.307645 6.06161 0.465879 5.90338C0.624113 5.74514 0.838724 5.65625 1.0625 5.65625L16.25 5.65625C16.4738 5.65625 16.6884 5.74514 16.8466 5.90338C17.0049 6.06161 17.0938 6.27622 17.0938 6.5C17.0938 6.72378 17.0049 6.93839 16.8466 7.09662C16.6884 7.25485 16.4738 7.34375 16.25 7.34375L1.0625 7.34375C0.838724 7.34375 0.624113 7.25485 0.465879 7.09662C0.307645 6.93839 0.21875 6.72378 0.21875 6.5Z' fill='%23E2704C'/%3E%3C/svg%3E%0A") center no-repeat;  
  }

  &:hover {
    color: $accent;
    .button-more__arrow {
      right: -22px;
    }
  }
}
