.form {

  &__white {
    background: transparent;
    color: $primary;

    .form__item {
      label {
        color: $primary;
      }

      input {
        color: $primary;
        border: 1px solid $primary;
      }
    }

    .form__politics {
      color: $primary;

      a {
        color: $primary;

        &:hover {
          color: $primary;
        }
      }
    }

    .form__title {
      color: $primary;
    }
  }

  background: $bg-footer;

  &__title-wrapper {
    display: flex;
    justify-content: center;
  }

  &__title {
    padding: 0 16px;
    position: relative;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 30px;
    line-height: 34px;

    &::after {
      position: absolute;
      content: '';
      height: 2px;
      width: 40px;
      display: inline-flex;
      background: #C1A477;
      left: 100%;
      top: 50%;
    }

    &::before {
      position: absolute;
      content: '';
      height: 2px;
      width: 40px;
      display: inline-flex;
      background: #C1A477;
      right: 100%;
      top: 50%;
    }
  }

  .wpforms-field-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: $primary;
    margin-bottom: 16px;
    position: relative;
    width: 30%;
    padding-top: 20px;

    &--bottom {
      width: 100%;
    }

    @media (max-width: $md) {
      width: 100%;

      &--bottom {
        width: 100%;
      }
    }


    input {
      border: none;
      border: 1px solid $white;
      width: 100%;
      padding: 12px 20px;
      transition: 0.3s;
      outline: none;
      background: transparent;
      color: $white;

      &::placeholder {
        opacity: 0.4;
        transition: 0.3s;
      }

      &:hover {
        border: 1px solid $hover;

        &::placeholder {
          opacity: 1;

        }
      }

      &:focus {
        border: 1px solid $hover;

        &::placeholder {
          color: transparent;
        }
      }

    }

    label {
      color: $white;
    }

    span {
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: $accent;
    }
  }

  &__politics {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 30px;
    padding-top: 32px;
    color: $white;
    text-align: center;

    @media (max-width: $md) {
      margin-bottom: 60px;
    }

    @media (max-width: $sm) {
      text-align: left;
    }

    a {
      color: $white;
      font-weight: 700;

      &:hover {
        color: $white;
      }
    }
  }

  button[type="submit"] {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 140px;
    padding: 14px 20px;
    transition: 0.3s;
    color: white;
    background: $hover;
    transition: 0.3s;
    margin: 0 auto;

    &:hover {
      background: #A38659;
      color: white;
    }


    @media (max-width: $sm) {
      width: 100%;
    }
  }




}