.popup {
  top: 0;
  width: 100%;
  height: 1vh;
  z-index: -999;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transition: .3s visibility;
  transition: .3s opacity;

  &.open {
    transition: .3s visibility;
    transition: .3s opacity;
    visibility: visible;
    opacity: 1;
    height: 100vh;
    background: #00000020;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 15;
  }

  &-overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #00000020;
  }

  &-wrapper {
    max-width: 754px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;

    @media (max-width: $md) {
      max-width: 376px;
    }
  }

  &-content {
    width: 100%;
    min-height: 543px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 60px 100px;
    background: $white;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    @media (max-width: $md) {
      padding: 80px 17px;
    }

    &:before {
      content: "";
      position: absolute;
      width: calc(100% + 20px);
      height: calc(100% + 20px);
      top: 0 10px;
      left: -10px;
      right: -10px;
      bottom: -10px;
      border: 1px solid $hover;
    }
  }

  &-close {
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }

  &-title {
    text-align: center;
    padding: 0 16px;
    position: relative;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;

    @media (max-width: $md) {
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
    }

    &::after {
      position: absolute;
      content: '';
      height: 2px;
      width: 40px;
      display: inline-flex;
      background: #C1A477;
      left: 100%;
      top: 50%;
    }

    &::before {
      position: absolute;
      content: '';
      height: 2px;
      width: 40px;
      display: inline-flex;
      background: #C1A477;
      right: 100%;
      top: 50%;
    }
  }
}

.popup-form {
  .form__item {
    width: 100%;
  }

  button[type="submit"] {
    width: 100%;
  }
}

.popup-success {

  .popup-text {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    padding: 166px 0;
    text-align: center;

    @media (max-width: $md) {
      font-weight: bold;
      font-size: 28px;
      line-height: 36px;
    }
  }

}