#UI {
	background: #fff;
	position: relative;


	// UI default styles
	.ui {

		&-heder{
			background: #0200ff;
			text-align: center;
			color: #fff;
			padding: 20px 40px;
			font-size: 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			&-col{
				width: 25%;
				img{
					width: auto;
					display: inline-block;
				}
				.ui-to-home{
					color: #fff;
					text-decoration: underline;
					font-size: 16px;
					line-height: 1em;
				}
				&:first-child{text-align: left;}
				&:last-child{text-align: right;}
			}
		}

		&-block{
			padding: 100px 0; 
			&__title{
				margin: 50px 0 10px;
				font-weight: bold;
				font-size: 40px;
				line-height: 48px;
			}
			&__content{

			}
		}

	}

	// Color block styles
	#color {
		display: flex;
		flex-wrap: wrap;
		.color {
			margin: 5px;
			border-radius: 5px;
			border: 1px solid #373737;
			width: 250px;
			height: 70px;
			color: red;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			font-weight: bold;
			margin-bottom: 60px;

		
			$theme-colors: (
				bd-dark:       #F7F7F7,
				primary:       #373737 ,
				secondary:     #7C7C7C ,
				accent:        #E2704C ,
				light:         #F6F6F6 ,
				white:         #ffffff,
				bg-footer:     #333333,
				popup-overlay: #F7F7F780,
			);

			$i: 1;

			@each $color, $val in $theme-colors {
				&:nth-child(#{$i}){
					background-color: $val;
					position: relative;
					&::before{	
						font-size: 18px;
						content: '' + $color + '';
						position: absolute;
						bottom: -30px;
						left: 0;
						color: #373737;
						font-weight: 700;
						z-index: 99999;
					}
					&::after{	
						font-size: 14px;
						content: '' + $val + '';
						position: absolute;
						bottom: -50px;
						left: 0;
						color: #6B7176;
						font-weight: 400;
						z-index: 99999;
					}
					$i: $i + 1;
				}
			}

		}
	}

	// If it's nesseeory

	// If it's nesseeory

	// If it's nesseeory

	// If it's nesseeory
	
	// If it's nesseeory


}