.error {
  position: relative;

  &__img-wrapper {
    width: 100%;
    height: 100vh;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background: #262626ba;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
    }
  }

  &__img {
    width: 100%;
    height: 100vh;
  }

  &__content {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $white;

    @media (max-width: $md) { 
      width: 80%;
    }
    @media (max-width: $sm) { 
      width: calc(100% - 30px);

    }
    .button {
      font-size: 16px;
      line-height: 40px;

      @media (max-width: $md) {
        width: 100%;
      }
    }
  }

  &__title {
    font-weight: bold;
    font-size: 120px;
    line-height: 128px;
  }

  &__text {
    font-weight: normal;
    font-size: 60px;
    line-height: 68px;
    margin: 8px 0 40px;

    @media (max-width: $md) {
      font-size: 32px;
      margin-top: 0;
    }
  }


}