.error {
  position: relative;

  &__img-wrapper {
    width: 100%;
    min-height: 500px;
    height: 100vh;
    position: relative;
  }

  &__img {
    width: 100%;
    min-height: 500px;
    height: 100vh;
  }

  &__content {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 684px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $white;

    @media (max-width: $sm) { 
      width: calc(100% - 30px);

    }

    .button {
      @media (max-width: $sm) {
        width: 100%;
      }
    }
  }

  &__title {
    font-weight: bold;
    font-size: 140px;
    line-height: 148px;
    color: $hover;

    @media (max-width: $md) {
      font-size: 100px;
      line-height: 108px;
    }
  }

  &__text {
    font-weight: bold;
    font-size: 60px;
    line-height: 62px;
    margin: 8px 0 40px;
    @media (max-width: $md) {
      font-size: 40px;
      line-height: 48px;
    }

    @media (max-width: $md) {
      font-size: 32px;
      margin-top: 0;
    }
  }


}