.about {

  position: relative;

  &__bg {
    position: absolute;
    z-index: -1;
    min-height: 100vh;
    height: 100%;
    width: 100%;

    @media (max-width: $sm) {
      min-height: auto;
    }
  }

  &__img {
    height: 100%;
  }

  &__wrapper {
    min-height: 100vh;
    height: 100%;
    max-width: 905px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @media (max-width: $sm) {
      min-height: auto;
    }
  }

  &__logo {
    margin-top: 15px;
    @media (max-width: $sm) {
      margin-top: 105px;
    }
  }

  &__logo-img {
    width: 165px;
    height: 203px;
    @media (max-width: $sm) {
      width: 161px;
      height: 199px;
    }
  }

  &__text {
    color: $white;
    margin-top: 60px;
    font-weight: normal;
    
    @include adaptiv-font(24, 18, 34, 26);

    @media (max-width: $sm) {
      text-align: left;
      margin-bottom: 58px;
    }
  }

}