.advantages {
  background: $bd-dark;

  &__title {
    margin-top: 108px;
    max-width: 736px;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 0;

    @media (max-width: $lg) {
      margin-top: 40px;
      font-size: 20px;
    }
  }

  &__text {
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    max-width: 690px;
    margin: 0;

    @media (max-width: $lg) {
      margin-top: 8px;
      font-size: 20px;
    }
  }

  .title {
    margin-top: 94px;

    @media (max-width: $lg) {
      margin-top: 40px;
    }
  }

  &__block {
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 100px;

    @media (max-width: $lg) {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      margin-bottom: 61px;
    }

    @media (max-width: $md) {
      margin-top: 6px;
    }

    @media (max-width: $sm) {
      flex-direction: column;
    }
  }

  .card-advantages {
    position: relative;

    &::after{
      position: absolute;
      content: '';
      width: calc(100% - 30px);
      border-top: 2px solid #E2704C;
      top: 0;
    }

    @media (max-width: $lg) {
      margin-top: 32px;
    }

    @media (max-width: $md) {
      max-width: 80%;
    }

    &__text {
      display: flex;
      margin-top: 10px;
      align-items: flex-start;

    }

    &__header {
      font-weight: bold;
      font-size: 48px;
      line-height: 42px;
      display: flex;
      align-items: flex-end;
      margin-top: 30px;
      height: 42px;

      b {
        display: flex;
        font-size: 24px;
        margin-bottom: -9px;
      }
    }
  }

  &__button {
    display: flex;
    margin: 0 auto 92px;

    @media (max-width: $lg) {
      margin: 0 auto 68px;
    }
  }

  &__card {
    padding-bottom: 60px;


    .advantages__header {
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
    }

    .advantages__text {
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
    }

    @media (max-width: $md) {
      padding-bottom: 40px;
    }

  }

  &__header {
    max-width: 350px;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
  }
}