.advantages-col {

  &-3 {
    width: 33%; 
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;

    @media (max-width: $md) { 
      width: 50%; 
    }
    @media (max-width: $sm) { 
      width: 100%;
    }

  }
  &-4 {
    width: 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;

    @media (max-width: $md) { 
      width: 50%; 
    }
    @media (max-width: $sm) { 
      width: 100%;
    }
  }


  &-img {
    width: 126px;
    height: 126px;
    margin: 0 auto;
  }

  &-header {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    max-width: 263px;
    margin: 15px auto 8px;

  }

  &-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    max-width: 263px;
    margin: 0 auto;

    
    @media (max-width: $md) { 
      max-width: 100%;
    }
  }
}