.article-project {

  &__top {
    padding-top: 176px;

    grid-gap: 30px;
    display: grid;
    grid-template:
      "i t" 50px 
      "i c" auto 
      "g g" auto / 50% calc(50% - 30px);

    @media (max-width: $lg) {
      display: grid;
      grid-template:
        "t"auto "i"auto "g"auto "c"auto / 100%;
    }
  }

  &__slide-top {
    grid-area: i;

    @media (max-width: $md) {
      .article-project__gallery {
        margin: 0;
      }
    }
  }

  &__bg {
    height: 100%;
    max-height: 517px;

  }

  &__img {
    width: 100%;
    height: 100%;
    min-height: 517px;
    max-height: 517px;
  }


  &__content {
    grid-area: c;
  }

  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 40px;
    grid-area: t;

    @media (max-width: $md) {
      margin-bottom: 0;
    }
  }

  &__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding: 0;
  }

  &__table {
    margin-top: 33px;
    width: 100%;
    overflow: hidden;

    tr {

      &>td {
        padding-top: 8px;

        &:last-child {
          text-align: right;
        }
      }
    }

    .last {
      td {
        padding-top: 40px;
      }
    }

    td {

      &>b {
        background: $white;
        padding-left: 12px;

      }

      &>span {
        position: relative;
        padding-right: 12px;

        &::before {
          position: absolute;
          content: '';

          left: 100%;
          top: 50%;
          width: 100vw;
          height: 1px;
          background-color: #E7E7E7;
          z-index: -1;
        }
      }
    }
  }

  &__btn-submit {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: $lg) {
      margin-bottom: 60px;
    }
  }

  &__by {
    margin-top: 40px;

    @media (max-width: $md) {
      width: 100%;

      .button {
        width: 100%;
        height: 48px;
      }
    }
  }

  &__price {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    margin-top: 40px;

    @media (max-width: $md) {
      text-align: center;
      width: 100%;
    }
  }

  &__gallery {
    display: flex;
    margin: 20px 0 60px;
    grid-area: g;
  }

  &__dots {
    max-width: 165px;
    max-height: 129px;
    min-width: 165px;
    min-height: 129px;
    display: flex !important;

    &:not(:first-child) {
      margin-left: 30px;
    }
  }

  &__buulet-img {
    width: 100%;
    display: flex !important;
  }

  &__bottom {
    max-width: 750px;
  }

  &__sub-title {
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 32px;
  }

  &__header {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin: 22px 0 0 0;
  }

  &__list {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    p {
      margin: 0;
    }
  }

  &__bg-map {
    min-height: 804px;
    width: 100%;
    border: 1px solid #C4C4C4;
    margin: 80px 0 61px;
    position: relative;
    height: 100px;
    display: flex;

    @media (max-width: $md) { 
      min-height: auto;
      max-height: 346px;
      height: 100%;
    }

  }

  &__img-map {
    display: flex;
    height: 100%;

  }

  &__bg-map__link {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
  }

  &__download {
    padding-bottom: 88px;
    display: flex;
    justify-content: center;

    @media (max-width: $md) { 

      

      .button {
        width: 100%;
      }
    }
  }

  .article-project__gallery {
    .slick-slide {
      opacity: 0.6;
      transition: 0.3s;
    }

    .slick-current  {
      opacity: 1;
      transition: 0.3s;
    }
  }
}
