.article-project {

  &__top {
    padding-top: 176px;
    display: flex;
  }

  &__bg {
    width: 50%;
    height: 100%;
    max-height: 517px;
  }

  &__img {
    width: 100%;
    height: 100%;
    min-height: 517px;
    max-height: 517px;
  }


  &__content {
    padding-left: 30px;
    width: 50%;
  }

  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 40px;
  }

  &__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding: 0;
  }

  &__table {
    margin-top: 33px;
    width: 100%;
    overflow: hidden;

    tr {

      &>td {
        padding-top: 8px;

        &:last-child {
          text-align: right;
        }
      }
    }

    .last {
      td {
        padding-top: 40px;
      }
    }

    td:not(:first-child) {
      &>b {
        background: $white;
        padding-left: 12px;

      }
    }

    td {

      &>span {
        position: relative;
        padding-right: 12px;

        &::before {
          position: absolute;
          content: '';

          left: 100%;
          top: 50%;
          width: 100vw;
          height: 1px;
          background-color: #E7E7E7;
          z-index: -1;
        }
      }
    }
  }

  &__price {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
  }

  &__gallery {
    display: flex;
    margin: 20px 0 60px;
  }

  &__dots {
    max-width: 165px;
    max-height: 129px;
    min-width: 165px;
    min-height: 129px;
    display: flex !important;

    &:not(:first-child) {
      margin-left: 30px;
    }
  }

  &__buulet-img {
    width: 100%;
    display: flex !important;
  }

  &__bottom {
    max-width: 750px;
  }

  &__sub-title {
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 32px;
  }

  &__header {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin: 22px 0 0 0;
  }

  &__list {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    p {
      margin: 0;
    }
  }

  &__bg-map {}

  &__img-map {}

  &__download {}

}