.contact {

  &__title,
  &__sub-title {
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
  }

  &__right {
    background: $accent;
    color: $white;
    padding: 100px 65px 0;
    width: 50%;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 100vw;
      height: 100%;
      background: $accent;
      top: 0;
      right: -99vw;
    }
  }

  &__left {
    padding: 100px 0 0 0;
    width: 50%;
  }

  &__head {
    margin-top: 50px;
    margin-bottom: 0;
  }

  &__text {
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    transition: 0.3s;
    color: $white;

    &:hover {
      color: $white;
      font-weight: bold;
    }
  }

  &__address {
    margin: 43px 0 165px;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    max-width: 179px;
  }
}

.contact.article-project {
  background: $bd-dark;

  .article-project {
    
    &__wrapper {
      max-width: 700px;
      margin-left: auto;
    }

    &__img-wrapper {
      width: 50%;
    }
  }
}
