.contact {


  .row {
    @media (max-width: $md) {
      display: flex;
      flex-direction: column;
    }
  }

  background-color: $white;

  &--dark {
    background: $bd-dark;
  }

  &__title,
  &__sub-title {
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
  }

  &__right {
    background: $accent;
    color: $white;
    padding: 100px 65px 17px;
    width: 50%;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 100vw;
      height: 100%;
      background: $accent;
      top: 0;
      right: -99vw;
    }

    @media (max-width: $md) {
      padding: 80px 17px;
      width: 100%;
      &::before {
        position: absolute;
        content: '';
        width: 100vw;
        height: 100%;
        background: $accent;
        top: 0;
        left: -99vw;
      }
    }
  }

  &__left {
    padding: 100px 0 0 0;
    width: 50%;
  }

  &__head {
    margin-top: 50px;
    margin-bottom: 0;

    @media (max-width: $md) {
      font-size: 14px;
      line-height: 40px;
    }

  }

  &__text {
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    transition: 0.3s;
    color: $white;

    &:hover {
      color: $white;
      font-weight: bold;
    }
  }

  &__address {
    margin: 43px 0 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    max-width: 179px;

    @media (max-width: $md) {
      font-weight: normal;
      font-size: 24px;
      line-height: 33px;
      max-width: 239px;
      margin-bottom: 0;
    }
  }
}

.contact.article-project {
  background: $bd-dark;

  .article-project {

    &__wrapper {
      max-width: 700px;
      margin-left: auto;
    }

    &__img-wrapper {
      width: 50%;
    }
  }
}