.contact {

  &__mobile {
    display: none;
    @media (max-width: $md) {
      display: block;
    }
  }

  .row {

    @media (max-width: $md) {
      display: flex;
      flex-direction: column;
    }
  }

  background-color: $white;

  &__title,
  &__sub-title {
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
  }

  &__sub-title {
    @media (max-width: $md) {
      margin-bottom: 60px;
    }

  }

  &__right {
    background: $accent;
    color: $white;
    padding: 100px 65px 100px;
    width: 50%;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 100vw;
      height: 100%;
      background: $accent;
      top: 0;
      right: -99vw;
    }

    @media (max-width: $md) {
      padding: 80px 17px;
      width: 100%;
      &::before {
        position: absolute;
        content: '';
        width: 100vw;
        height: 100%;
        background: $accent;
        top: 0;
        left: -99vw;
      }
    }
  }

  &__left {
    
    padding: 100px 129px 100px 0;
    width: 50%;

    @media (max-width: $lg) { 
      padding: 100px 100px 100px 0;
    }
 

    @media (max-width: $md) { 
      padding: 100px 0;
      width: 100%;
    }
  
  }

  &__form-container {
    margin-top: 38px;

  }

  &__head {
    margin-top: 50px;
    margin-bottom: 0;

    @media (max-width: $md) {
      font-size: 14px;
      line-height: 40px;
      margin-top: 30px;
    }
  }

  &__text {
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    transition: 0.3s;
    color: $white;

    &:hover {
      color: $white;
      font-weight: bold;
    }
  }

  &__address {
    margin: 43px 0 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    max-width: 179px;

    @media (max-width: $md) {
      font-weight: normal;
      font-size: 24px;
      line-height: 33px;
      max-width: 239px;
      margin: 0;
    }
  }
}

.contact.article-project {
  background: $bd-dark;

  .article-project {

    &__right {
      padding: 0;

      @media (max-width: $md) { 
        order: -1;
      }
    }

    &__img-wrapper {
      width: calc(100vw / 2);
      height: 100%;

      @media (max-width: $md) { 
        width: 100%;
      }

      @media (max-width: $md) { 
        margin: 0 -120px;
        width: calc(100% + 240px);
      }

    }

    &__img {
      min-width: 100%;
      min-height: 100%; 
      position: relative;     
      z-index: 1;

      @media (max-width: $md) { 
        max-height: 320px; 
      }
    }


  }
}
