.first-screen {
  position: relative;
  height: 100vh;
  background-blend-mode: soft-light;
  background: #262626;
  opacity: 0.9;

  &__bg {
    position: absolute;
    height: 100%;
    z-index: -2;
    width: 100%;
  }

  &__img {
    height: 100%;
  }

  &__dark {
    position: absolute;
    background: #000000;
    background-blend-mode: soft-light;
    opacity: 0.7;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  .container {
    height: 100%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .logo {
      width: 100%;
      max-width: 1060px;
      &__svg {
        width: 100%;
        max-width: 1060px;
        height: auto;
      }
    }
  }
  &__text {
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color: $white;
    margin: 50px 0 0 0;
    letter-spacing: 0.06em;
    text-align: center;
    @media (max-width: $lg) {
      margin: 41px 0 0 0;
    }
  }
}