.header {
  position: fixed;
  width: 100%;
  background: #ffffff;
  z-index: 15;
  min-height: 119px;

  &__wrapper {
    padding: 8px 45px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;

    @media (max-width: $lg) {
      padding: 8px;
    }
  }
}

.header-nav-open {
  .nav {
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    top: 0;
    z-index: 11;
  }

  .nav-open-btn {
    &__close {
      display: block;
      opacity: 1;
    }

    &__open {
      display: none;
      opacity: 0;

    }
  }
}

.logo {
  min-width: 130px;
  width: 130px;
  z-index: 12;

  .color {
    display: none;
  }
}

.nav {
  margin-left: auto;
  flex-wrap: nowrap;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  @media (max-width: $xl) {
    padding: 8px 0;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    @media (max-width: $xl) {
      order: 1;
      padding: 8px;
      justify-content: flex-end;
    }

    a {
      padding: 5px 16px;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #2A2A28;
      transition: 0.3s;
      white-space: nowrap;

      &:hover {
        color: #C1A477;
      }

      @media (max-width: $xl) {
        padding: 5px 8px;
      }

    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  // меню закрыто

  @media (max-width: $lg) {
    transition: 0.3s;
    position: fixed;
    top: 60px;
    left: 150vw;
    top: 0;
    bottom: 0;
    right: 0;
    background: #ffffff;
    padding: 0;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;


    &__menu {
      order: -1;
      flex-direction: column;
      width: 320px;
      padding: 120px 8px 8px 100px;
      margin: 0 auto;
      flex-wrap: nowrap;
      justify-content: flex-start;
      min-height: max-content;

      a {
        padding: 20px 0;
        display: flex;
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
      }
    }

    &__wrapper {
      flex-direction: column;
    }
  }
}

.tel {
  margin-left: 100px;
  color: #2A2A28;
  transition: 0.3s;
  display: flex;
  align-items: center;
  white-space: nowrap;

  &:hover {
    color: #C1A477;
  }

  @media (max-width: $lg) {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    width: 320px;
    padding-left: 100px;
    margin: 48px auto 0;

    &::before {
      content: "";
      background: url("data:image/svg+xml,%3Csvg width='26' height='25' viewBox='0 0 26 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.0273 24.5955C19.7844 24.5948 19.5423 24.5682 19.305 24.516C14.7887 23.5818 10.628 21.3913 7.30171 18.1966C4.04641 14.9949 1.78869 10.9185 0.801707 6.46049C0.685329 5.90489 0.713892 5.32869 0.88465 4.78732C1.05541 4.24596 1.36261 3.75765 1.77671 3.36937L4.6656 0.588819C4.81315 0.449277 4.98847 0.342418 5.18012 0.275217C5.37177 0.208017 5.57543 0.181984 5.77782 0.198819C5.98767 0.220712 6.19018 0.288312 6.3711 0.396866C6.55202 0.50542 6.70697 0.652291 6.82504 0.827152L10.4361 6.16437C10.5716 6.37147 10.6369 6.61656 10.6226 6.86358C10.6083 7.11061 10.5151 7.34652 10.3567 7.5366L8.54393 9.70326C9.2659 11.3011 10.2883 12.7453 11.5556 13.9572C12.8146 15.2129 14.3028 16.2157 15.9395 16.911L18.1856 15.1272C18.3742 14.9781 18.6038 14.8899 18.8438 14.8744C19.0837 14.859 19.3227 14.9169 19.5289 15.0405L24.9817 18.5649C25.1688 18.6767 25.3282 18.8293 25.448 19.0114C25.5678 19.1934 25.6448 19.4003 25.6733 19.6163C25.7017 19.8324 25.681 20.0521 25.6125 20.259C25.544 20.4659 25.4296 20.6546 25.2778 20.811L22.4611 23.5988C22.1412 23.9172 21.7614 24.1692 21.3437 24.3402C20.926 24.5113 20.4786 24.598 20.0273 24.5955ZM5.66226 1.62882L2.77337 4.40937C2.54042 4.62644 2.36798 4.9004 2.27301 5.20431C2.17803 5.50823 2.1638 5.83163 2.23171 6.14271C3.14945 10.3259 5.25906 14.1538 8.30559 17.1638C11.4358 20.1694 15.3513 22.2298 19.6011 23.1077C19.9228 23.175 20.2562 23.1613 20.5713 23.0681C20.8864 22.9748 21.1735 22.8048 21.4067 22.5733L24.2234 19.7855L18.9584 16.3838L16.5462 18.3049C16.4538 18.378 16.345 18.4274 16.2292 18.4488C16.1134 18.4702 15.9941 18.463 15.8817 18.4277C13.8788 17.6897 12.0636 16.5183 10.5661 14.9972C9.01724 13.5507 7.81493 11.7732 7.04893 9.79715C7.01652 9.67753 7.01545 9.55157 7.0458 9.43141C7.07616 9.31125 7.13693 9.20092 7.22226 9.11104L9.17226 6.77826L5.66226 1.62882Z' fill='%23C1A477'/%3E%3C/svg%3E%0A") center no-repeat;
      width: 25px;
      height: 25px;
      margin-right: 12px;
      display: flex;
    }

  }

}

.language {
  margin-left: 55px;
  position: relative;
  display: inline-flex;
  align-items: center;
  background: #ffffff;

  &:hover {

    .language__arrow {
      svg {
        transform: rotate(180deg);
      }
    }

    .language__content {
      opacity: 1;
      visibility: visible;
      z-index: 0;
      transition: 0.3s opacity;
      background: #ffffff;

      a {
        opacity: 0.5;
        transition: 0.3s;

        &:hover {
          opacity: 1;
          transition: 0.3s;
        }
      }

    }
  }

  &__btn {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 10px;
  }

  &__arrow {
    margin-left: 8px;
    display: flex;
    align-items: center;

    svg {
      transition: 0.3s;
    }
  }

  &__content {
    position: absolute;
    top: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: -999;
    transition: 0.3s opacity;
    padding: 0 0 10px 10px;
    background: #ffffff00;

    a {
      margin: 8px 0 0 0;
      display: flex;
      opacity: 0.5;
      transition: 0.3s;

      &:hover {
        opacity: 1;
        transition: 0.3s;
      }
      @media (max-width: $lg) {
        margin: 0;
      }

    }
  }

  img {
    height: 18px;
    width: 22px;
  }


  @media (max-width: $lg) {

    position: static;
    width: 320px;
    padding-left: 100px;
    margin: 48px auto 0;
    padding-bottom: 30px;

    &__btn {
      align-items: center;
      padding: 0 10px 0 0;
    }

    &__arrow {
      display: none;
    }

    &__content {
      opacity: 1;
      visibility: visible;
      position: static;
      z-index: 1;
      padding: 0;
      align-items: center;
      flex-direction: row;
      display: flex;

      a {
        display: flex;
        padding-right: 10px;
      }
    }
  }

}

.nav-open-btn {
  display: none;
  z-index: 12;

  @media (max-width: $lg) {
    display: flex;
    margin-left: auto;
    align-items: center;
    padding: 10px;
    background: transparent;
    border: none;
    opacity: 1;
  }

  &__close {
    display: none;
    opacity: 0;
  }

  &__open {
    display: block;
    opacity: 1;
  }
}

.header.header__white:not(.header-nav-open) {
  background-color: transparent;

  .nav-open-btn {
    line {
      stroke: #ffffff;
    }
  }

  .logo {
    .white {
      display: none;
    }

    .color {
      padding: 10px;
      display: flex;
      width: 100%;
      height: 100px;
    }
  }

  .language {
    background-color: transparent;

    &__content {
      background-color: transparent;
    }
  }

  .nav {
    a {
      color: #FFFFFF;
    }
  }

  .language__arrow {
    path {
      stroke: #FFFFFF;
    }
  }
}