.instagram {
  &__wrapper {
    margin-top: 102px;
    margin-bottom: 88px;
    display: flex;
    position: relative;
  }

  &__content {
    max-width: 355px;
    min-height: 100%;
  }

  &__title {
    font-weight: bold;
  }

  &__btn {
      margin-top: 49px;
  }

  &__images {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  &__photos {
    position: relative;
    left: 0;
    top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 0;
    max-width: 750px;
    width: 100%;
  }
}