.instagram {
  &__wrapper {
    padding-top: 102px;
    padding-bottom: 88px;
    display: grid;
    grid-template-columns: 355px auto;
    grid-template-rows: 1fr 1fr auto;
    grid-gap: 10px;
    grid-template-areas:
      "t i"
      "b i";

    @media (max-width: $lg) {
      grid-template-rows: 1fr auto auto;
    }

    @media (max-width: $lg) {
      grid-gap: 40px;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-template-areas:
        "t"
        "i"
        "b";
      padding: 60px 0;
      margin: 0;
    }


  }

  &__content {
    grid-area: t;
  }

  &__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
  }

  &__btn {
    grid-area: b;
    align-items: start;
    margin-top: -40px;

    @media (max-width: $xl) {
      margin-top: 0;
    }

    @media (max-width: $sm) {
      .button {
        width: 100%;
      }
    }
  }

  &__images {
    width: 100%;
    grid-area: i;

  }

  &__photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 0;
    max-width: 750px;
    width: 100%;
    margin-left: auto;
    
    @media (max-width: $sm) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 12px 20px;
    }
  }
}