.layouts {
  background: $bd-dark;
  padding: 80px 0;

  @media (max-width: $md) { 
    padding-top: 54px;
    padding-bottom: 25px;
  }

  &__title {
    margin: 0 auto 50px;
    text-align: center;
  }

  &__wrapper {
    justify-content: center;

    @media (max-width: $sm) { 
      margin: 0 -15px;
    }
  }
  
}