.map {
  position: relative;
  height: 100%;

  .wrapper {
    display: flex;
    align-items: center;
    width: 100%;

    @media (max-width: $md) {
      flex-direction: column;
      position: static;
      width: 100%;
    }
  }

  .iframe__wrapper {
    @media (max-width: $md) {
      width: 100%;
    }
  }

  .iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;

    @media (max-width: $md) {
      position: static;
      height: 604px;
    }
  }

  .container {
    display: flex;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;

    @media (max-width: $md) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__wrapper {
    background: #ffffff;
    width: 463px;
    top: 50%;
    height: 100%;
    padding: 100px 91px 100px 2px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;

    &::before {
      content: '';
      position: absolute;
      width: 100vw;
      height: 100%;
      background: #ffffff;
      left: -100vw;
      top: 0;
    }

    @media (max-width: $md) {
      padding: 60px 19px 40px;
      top: 0;

      &::after {
        content: '';
        position: absolute;
        width: 100vw;
        height: 100%;
        background: #ffffff;
        right: -100vw;
        top: 0;
      }
    }

  }

  .title__wrapper {
    margin-bottom: 60px;
  }

  .item {
    margin: 20px 0 0 0;
    color: #2A2A28;

    &:hover {
      color: #2A2A28;
    }
  }
}