.mortgage {
  padding-bottom: 50px;

  .row {
    @media (max-width: $lg) { 
      display: flex;
      flex-direction: column;
    }
  }


  &__title {
    margin-top: 80px;
    margin-bottom: 60px;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;


    @media (max-width: $md) { 
      margin-bottom: 49px;
    }
    
 
  }

  &__sub-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
  }

  &__list {
    margin: 6px 0 0 0;
    padding-left: 20px;
    margin-bottom: 40px;
    counter-reset: listCounter;
  }

  &__item {
    list-style: none;
    position: relative;
    counter-increment: listCounter;

    &::before {
      content:  counters(listCounter, '.', decimal) '.';
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
      position: absolute;
      left: -20px;
      color: $accent;
    }
  }

  &__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    margin: 0;
    @media (max-width: $md) { 
      margin: 0 0 28px 0;
    }
  }

  &__info {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    margin: 0;
    min-width: 552px;
    @media (max-width: $md) { 
     min-width: auto;
    }
  }
}
