.news {
  background: $bd-dark;

  &__title {
    padding-top: 76px;
    max-width: 557px;

    @media (max-width: $md) {
      padding-top: 55px;
      line-height: 32px;
    }
  }

  &__wrapper {
    margin-top: 45px;
    justify-content: center;
    /*display: flex;*/
    /*flex-wrap: wrap;*/

    @media (max-width: $sm) { 
      padding: 0;
      //width: 100%;
    }

/*    &>* {
      width: 30%;
      margin: 0 1% 30px;

      @media (max-width: $xl) {
        width: 48%;
      }

      @media (max-width: $lg) {

        width: 100%;
        margin: 0 1% 30px;
      }

      @media (max-width: $sm) {
        margin: 0 -15px 40px;
        padding: 0;
      }

    }*/



    .card-simple {
      // max-width: 360px;
      //min-height: 520px;

      min-height: 100%;
      background: #fff;

      @media (max-width: $lg) {
        // max-width: 100%;
        min-height: auto;
      }
    }

    .card-info {
      // max-width: 360px;

      @media (max-width: $sm) { 

        // max-width: calc(100% + 30px);
        width: calc(100% + 30px);
        margin: 0 -15px 40px;

        &__content {
          padding: 0 15px;
        }
      }
      
    }
  }

  &__btn {
    text-align: center;
    padding: 77px 0;

    @media (max-width: $md) {
      padding: 38px 0 68px;
    }
  }
}

.news.joy {
  background: $white;
}