.news {
  background: $bd-dark;

  &__title {
    margin-top: 76px;
    max-width: 557px;
  }

  &__wrapper {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &>* {
      width: 30%;
      margin: 0 1.5% 30px;
    }

    @media (max-width: $lg) {
      &>* {
        width: 100%;
        margin: 0 1.5% 30px;
      }
    }

    .card-simple {
      max-width: 360px;
      min-height: 520px;

      @media (max-width: $lg) {
        max-width: 100%;
        min-height: auto;
      }
    }

    .card-info {
      max-width: 360px;
    }
  }

  &__btn {
    margin: 77px auto;

    @media (max-width: $md) {
      margin: 38px auto 68px;
    }
  }
}

.news.joy {
  background: $white;
}