.news {
  background: $bd-dark;

  &__title {
    margin-top: 76px;
    max-width: 557px;

    @media (max-width: $md) {
      margin-top: 55px;
      line-height: 32px;
    }
  }

  &__wrapper {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media (max-width: $sm) { 
      padding: 0;

      width: 100%;
    }

    &>* {
      width: 30%;
      margin: 0 1.5% 30px;

      @media (max-width: $xl) {
        width: 48%;
      }

      @media (max-width: $lg) {

        width: 100%;
        margin: 0 1.5% 30px;
      }

      @media (max-width: $sm) {
        margin: 0 -15px 40px;
        padding: 0;
      }

    }



    .card-simple {
      max-width: 360px;
      min-height: 520px;

      @media (max-width: $lg) {
        max-width: 100%;
        min-height: auto;
      }
    }

    .card-info {
      max-width: 360px;

      @media (max-width: $sm) { 

        max-width: calc(100% + 30px);
        width: calc(100% + 30px);
        margin: 0 -15px 40px;

        &__content {
          padding: 0 15px;
        }
      }
      
    }
  }

  &__btn {
    margin: 77px auto;

    @media (max-width: $md) {
      margin: 38px auto 68px;
    }
  }
}

.news.joy {
  background: $white;
}