.page-news {
  background-color: $bd-dark;

  &__title {
    padding-top: 172px;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
  }

  &__wrapper {
    margin-top: 52px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &>* {
      width: 30%;
      margin: 0 1.5% 30px;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    margin: 80px 0;
  }

  &__pagination {
    margin: 80px 0 0;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
  }
}