.page-work-article {
  .article {

    &__title {
      font-weight: bold;
      font-size: 54px;
      line-height: 62px;
      max-width: 657px;
      margin-bottom: 28px;
    }

    &__sub-title {
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      max-width: 657px;
      margin-bottom: 60px;
    }
    
    &__slider {
      position: relative;
    }

    &__slider-wrapper {}

    &__slide {
      height: 480px;

    }

    &__image {
      width: 100%;
      height: 100%;
    }

    &__arrow {}

    &__pagination {
      display: flex;
      margin-top: 16px;
    }

    &__pagination-img {
      width: 173px;
      height: 100px;
      margin-right: 20px;
    }

    &__boolets {}

    &__content {
      margin-top: 64px;
    }

    &__text {
 

      @media (min-width: $lg) {
        padding-right: 71px;
      }
    }
  }

  .catalog {
    background: $bg;
    padding: 105px 0 80px 0;

    @media (max-width: $lg) {
      padding: 10px 0;
    }


    .item {
      display: flex;
      align-items: center;
    }

    &__header {
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 24px;
    }

    &__gold {
      color: $hover;
    }

    .text-header {
      font-weight: bold;
      font-size: 18px;
      line-height: 26px;

      @media (max-width: $lg) {
        margin-top: 48px;
      }
    }

    .text {
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
    }

    .button-container {
      margin-top: 40px;
    }

  }
}