.page-about-company {

  .page-franchise__title {
    font-weight: bold;
    font-size: 54px;
    line-height: 62px;
    max-width: 560px;
    @media (max-width: $md) {
      font-weight: bold;
      font-size: 48px;
      line-height: 56px;
      word-wrap: break-word;
    }
  }

  .page-franchise__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    max-width: 560px;
  }


  &__container {
    padding-top: 80px;
    padding-bottom: 70px;
  }

  &__content {}

  &__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    a {
      font-weight: 700;
      color: $hover;
      &:hover {
        color: $hover;
      }
    }
  }

}