.page-designers {


  &__wrapper-title {
    position: relative;

  }

  .page-catalog {
    &__link {
      position: absolute;
      right: 0;
      top: 15px;

      @media (max-width: $lg) {
        position: static;
        margin-top: 40px;
      }
    }
  }

  &__header {
    margin: 0;
    max-width: 657px;
    font-weight: bold;
    font-size: 54px;
    line-height: 62px;

    @media (max-width: $lg) {
      font-size: 34px;
      line-height: 44px;
    }

  }

  .title {
    margin-bottom: 40px;
    font-weight: normal;
    font-size: 30px;
    line-height: 48px;

    @media (max-width: $md) {
      font-weight: 300;
      font-size: 20px;
      line-height: 28px;
    }
  }

  &__wrapper {
    margin-top: 60px;
    margin-bottom: 80px;

    @media (max-width: $lg) {
      margin-top: 40px;
    }

    @media (min-width: $lg) {
      .page-designers__card:nth-child(2n) {

        .page-designers__img-wrapper {
          right: 0;
        }

        .page-designers__content {
          margin: 80px calc(50% + -80px) 80px 0;
        }
      }

      .page-designers__card:last-child {
        .page-designers__content {
          margin-bottom: 0;
          padding-bottom: 140px;
        }
      }
    }

  }

  &__card {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: -80px;
  }

  &__img-wrapper {
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;

  }

  &__image {
    width: 100%;
    height: 100%;

  }

  &__content {
    width: 100%;
    background: $white;
    padding: 60px 154px 60px 97px;
    margin: 80px 0 80px calc(50% - 80px);
    z-index: 1;
  }

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: $hover;
  }

  &__text {
    margin: 0;
  }

  &__btn-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 60px;

    .button {
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;

      @media (max-width: $md) {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }

  @media (max-width: $lg) {

    &__wrapper {
      .page-designers__card:last-child {
        .page-designers__content {
          margin-bottom: 0;
        }
      }

    }

    &__card {
      flex-direction: column;
    }

    &__img-wrapper {
      position: static;
      width: 100%;
    }

    &__image {
      height: 500px;
    }

    &__content {
      margin: -80px 0 100px 0;
      padding: 40px 24px;
      width: 90%;
    }
  }

  @media (max-width: $sm) {
    &__img-wrapper {
      width: calc(100% + 30px);
    }
  }
}