.page-news {
  background-color: $bd-dark;

  &__title {
    padding-top: 172px;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
  }

  &__wrapper {
    margin-top: 52px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &>* {
      width: 30%;
      margin: 0 1.5% 30px;

      @media (max-width: $lg) { 
        width: 47%;
      }
      @media (max-width: $md) { 
        width: 100%;
        margin: 0 0 30px;
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    margin: 80px 0;

    @media (max-width: $md) { 
      width: 100%;
      margin: 40px 0 50px;
      .button {
        width: 100%;
      }
    }
  }

  &__pagination {
    margin: 80px 0 0;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;

    @media (max-width: $md) { 
      margin: 40px 0 0;

    }
  }
}