.catalog.page-catalog-article {

  .container-padding {
    @media (max-width: $lg) {
      padding-top: 0;
    }
  }

  .item {
    @media (max-width: $lg) {
      padding: 0px;
    }

  }

  .image {
    @media (max-width: $lg) {
      min-height: 250px;
    }
  }

  .catalog__header {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;

    @media (max-width: $md) {
      font-size: 30px;
      line-height: 38px;
    }
  }

  .slider {
    .slider__boolets {
      bottom: 10px;

      @media (max-width: $lg) {
        bottom: 0;
      }
    }

    .slick-slide {
      position: relative;
    }

    .slick-arrow {

      @media (max-width: $lg) {
        display: none;
      }
    }
  }

}
