.page-work {

  &__form {
    margin: 60px 0;

    fieldset {
      display: flex;
      align-items: center;

      &:first-child {
        margin-bottom: 40px;
      }
    }
  }

  &__scroll {
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__legend {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    width: auto;
    margin-right: 40px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }

  &__label {
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    margin-right: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__input {
    transition: 0.3s;

    &:checked+.page-work__checkbox {
      transition: 0.3s;

      &::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 2px;
        top: 7px;
        left: 0px;
        background-color: $hover;
        transform: rotate(45deg);
      }

      &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 2px;
        top: 3px;
        left: 4px;
        background-color: $hover;
        transform: rotate(-50deg);
      }
    }
  }

  &__checkbox {
    position: relative;
    margin-left: 12px;
    display: flex;
    max-width: 20px;
    min-width: 20px;
    max-height: 20px;
    min-height: 20px;
    border: 1px solid $hover;
  }

  &__all {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: $primary;
    display: flex;
    justify-content: center;
    margin: 50px auto 0;
    transition: 0.3s;

    &:hover {
      color: $hover;
    }

    svg {
      margin-left: 23px;
    }
    @media (max-width: $md) { 
      margin: 30px auto 0;
    }

  }

}