.photos {
  &__wrapper {
    display: grid;
    grid-template:
    "a a b" auto
    "a a c" auto / 1fr 1fr 1fr;
            
    max-width: 1440px;
    margin: 0 auto;
  }

  &__img {
    display: flex;
    width: 100%;
    height: 100%;

    &:nth-child(1) {
      grid-area: a;
    }
    &:nth-child(2) {
      grid-area: b;
    }
    &:nth-child(3) {
      grid-area: c;
    }
  }
}