.pinterest {
  &__wrapper {
    padding-top: 102px;
    padding-bottom: 88px;
    display: grid;
    grid-template-columns: 490px auto;
    grid-template-rows: 50px auto;
    grid-gap: 10px;
    grid-template-areas:
      "t i"
      "b i";

    @media (max-width: $lg) {
      grid-gap: 40px;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-template-areas:
        "t"
        "i"
        "b";
      padding: 0;
      margin: 0;
    }


  }

  &__content {
    grid-area: t;
  }

  &__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;

    @media (max-width: $md) {
      font-size: 36px;
      line-height: 44px;
    }
  }

  &__btn {
    grid-area: b;
    align-items: start;
    padding-top: 40px;

    @media (max-width: $sm) {
      .button {
        width: 100%;
      }
    }

    @media (max-width: $md) {
      font-size: 24px;
      line-height: 32px; 
      padding-top: 0;
    }

    @media (max-width: $lg) {
      width: 100%;
      .button-more {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    @media (max-width: $xl) {
      margin-top: 0;
    }

    
    .button-more {
      span {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  &__images {
    width: 100%;
    grid-area: i;

  }

  &__photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 0;
    max-width: 750px;
    width: 100%;
    margin-left: auto;

    @media (max-width: $sm) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 12px 20px;
    }
  }

  &__social-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: $primary;
  }

  &__social {
    margin-top: 43px;

    a {
      color: $primary;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      margin: 16px 0;
      display: flex;

      svg {
        margin-right: 14px;
      }
    }
  }
}