.project {
  position: relative;

  &__bg {
    margin-top: 95px;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__image {
    width: 100%;
    height: 100%;
    min-height: 534px;
  }

  &__top {
    position: absolute;
    top: 180px;
    color: $white;
    max-width: 458px;
  }

  &__sub-title {
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
  }

  &__title {
    font-weight: bold;
    font-size: 90px;
    line-height: 98px;
    margin-bottom: 32px;
  }

  &__text {
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 32px;
  }

  &__bottom {
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    max-width: 944px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;

  }

  &__content {
    
  }


}