.projects {
  padding-bottom: 50px;

  &__title {
    margin-top: 64px;
  }

  &__wrapper {
    margin-top: 64px;

    @media (max-width: $sm) {
      margin-top: 47px;
    }
  }
}

.card-projects {
  transition: 0.3s;
  background: $bd-dark;
  box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.15);
  margin-bottom: 34px;

  @media (max-width: $sm) {
    margin: 0 -0.75rem 25px;

  }

  @media (max-width: $lg) {
    display: flex;
    flex-direction: column;
  }

  &:hover {
    box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.2);
  }

  &__block {
    width: 480px;
    padding: 44px 83px 38px 41px;

    @media (max-width: $md) {
      width: 100%;
      padding: 19px 15px 10px 15px;
    }
  }

  @media (max-width: $md) {
    .button {
      width: 100%;
    }
  }

  &__info {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: $accent;
  }

  &__header {
    font-weight: bold;
    font-size: 48px;
    line-height: 42px;
    text-transform: uppercase;
    margin-top: 22px;
  }

  &__text {
    margin-top: 15px;
    line-height: 19px;
  }

  &__img-wrapper {
    width: 60%;
  }

  &__btn {
    margin-top: 60px;

    @media (max-width: $md) {
      margin-top: 45px;
      margin-bottom: 17px;
    }

  }

  &__img-wrapper {
    padding: 0;

    @media (max-width: $lg) {
      order: -1;
      width: 100%;
      max-height: 320px;
      min-height: 320px;
    }
  }

  &__img {
    height: 100%;
    @media (max-width: $lg) {
      max-height: 320px;
      min-height: 320px;
    }

  }


}