.project {
  position: relative;

  &__bg {
    margin-top: 95px;
    width: 100%;
    height: 100%;
    z-index: -1;

    @media (max-width: $lg) {
      margin-top: 0;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    min-height: 534px;

    @media (max-width: $md) {
      min-height: 812px;
    }
  }

  &__top {
    position: absolute;
    top: 180px;
    color: $white;
    max-width: 458px;

    @media (max-width: $md) {
      top: 230px;
      left: 0;
      padding: 0 15px;
    }
  }

  &__sub-title {
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
  }

  &__title {
    font-weight: bold;
    font-size: 90px;
    line-height: 98px;
    margin: 20px 0 32px;

    @media (max-width: $md) {
      font-weight: bold;
      font-size: 60px;
      line-height: 68px;
    }
  }

  &__text {
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 32px;

    @media (max-width: $md) {
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
    }
  }

  &__bottom {
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    max-width: 927px;
    margin: 80px auto;

    display: flex;
    flex-direction: column;

    @media (max-width: $md) {
    margin: 60px auto 55px;
    }
  }

  &__content {
    margin: 0;

    @media (max-width: $md) {
      font-size: 18px;
      line-height: 26px;
    }
  }

  @media (max-width: $lg) {
    .button {
      width: 100%;
    }
  }
}