.projects {
  padding-bottom: 36px;

  &__title {
    margin-top: 64px;
  }

  &__wrapper {
    margin-top: 64px;
  }
}

.card-projects {
  transition: 0.3s;
  background: $bd-dark;
  box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.15);
  margin-bottom: 34px;

  &:hover {
    box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.2);
  }

  &__block {
    width: 480px;
    padding: 44px 83px 38px 41px;
  }

  &__info {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: $accent;
  }

  &__header {
    font-weight: bold;
    font-size: 48px;
    line-height: 42px;
    text-transform: uppercase;
    margin-top: 22px;
  }

  &__text {
    margin-top: 22px;
    line-height: 22px;
  }

  &__img-wrapper {
    width: 650px;
  }

  &__btn {
    margin-top: 60px;
  }

  &__img-wrapper {
    padding: 0;
  }
  &__img {
    height: 100%;
  }


}