.questions {

  &__wrapper {}

  &__header {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #C1A477;
    padding: 60px 0 36px;
    display: flex;

    @media (max-width: $md) {
      font-size: 18px;
      line-height: 26px;
    }

  }

  &__item {
    // border-bottom: 1px solid #C1A477;
  }

  &__plus {
    pointer-events: none;
    z-index: -1;

  }

  &__svg {
    transition: 0.3s;
  }

  &__link {
    padding: 29px 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    color: #2A2A28;
    border-top: 1px solid #C1A477;
    display: flex;
    align-items: center;
    @media (max-width: $md) {
      font-size: 16px;
      line-height: 24px;
    }

    &:hover {
      color: #2A2A28;
    }

    &--open {
      .questions__svg {
        opacity: 0;
        transition: 0.3s;
      }

      &+.questions__content {
        opacity: 1;
        transition: 0.3s;
        height: auto;

      }
    }

  }

  &__content {
    height: 0;
    overflow: hidden;
    transition: 0.3s;
    opacity: 0;
  }

  &__plus {
    margin-left: auto;
    padding-left: 10px;
  }

  &__text {
    margin-bottom: 20px;
    max-width: 560px;
    width: 100%;
    a {
      font-weight: bold;
      color: #C1A477;
  
      &:hover {
        color: #C1A477;
      }
    }
  }

}