.work {
  background: $bg;

  &__wrapper {
    padding: 60px 0;
  }

  &__btn {
    display: flex;
    justify-content: center;
  }

  .title {
    font-size: 26px;
    line-height: 48px;

    @media (max-width: $md) {
      font-size: 20px;
      line-height: 28px;
    }

  }
}