.chat-icon {
  position: fixed;
  bottom: 50px;
  right: 40px;
  z-index: 5;
  padding: 18px;
  background: #E2704C;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.25));

  @media (max-width: $md) { 
    right: 0;
    bottom: 20;
  }
}